name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  basic-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.3.1
    with:
      working_directory: './examples/basic/'

  complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.3.1
    with:
      working_directory: './examples/complete/'

  vnet_with_existing_ddos_id-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.3.1
    with:
      working_directory: './examples/vnet_with_existing_ddos_id/'
